vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|24 Oct 2005 04:01:08 -0000
vti_extenderversion:SR|5.0.2.2623
vti_thicketsupportingfile:BW|true
vti_author:SR|SERVER\\Administrator
vti_modifiedby:SR|SERVER\\Administrator
vti_timecreated:TR|24 Oct 2005 04:01:08 -0000
vti_cacheddtm:TX|24 Oct 2005 04:01:08 -0000
vti_filesize:IR|13195
vti_lineageid:SR|{18A1FFF5-90FC-4975-B20A-AF8FEF66A1DE}
vti_backlinkinfo:VX|results/2005/event11/index.htm results/2005/event11/index_files/sheet002.htm results/2005/event11/index_files/sheet003.htm results/2005/event11/index_files/sheet001.htm
