.listing
**/.listing
/.alias
/.bash_history
/.bash_profile
/.bashrc
/.cshrc
/.idea/.gitignore
/.idea/grr.iml
/.idea/modules.xml
/.cache/motd.legal-displayed
/.php/5.5/phprc
/.php/5.6/phprc
/.php/7.0/phprc
/.php/7.1/phprc
/.php/7.2/phprc
/.php/7.3/phprc
/.php/7.4/phprc
/.php/8.0/phprc
/.php/8.1/phprc
/.php/8.2/phprc
/.php/8.3/phprc
/.php/8.4/phprc
/.php/5.5/phprc.old
/.php/5.6/phprc.old
/.php/7.0/phprc.old
/.php/7.1/phprc.old
/.php/7.2/phprc.old
/.php/7.3/phprc.old
/.php/7.4/phprc.old
/.php/8.0/phprc.old
/.php/8.1/phprc.old
/.php/8.2/phprc.old
/.php/8.3/phprc.old
/.php/8.4/phprc.old
/.idea/vcs.xml
