vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|19 Jun 2005 04:55:54 -0000
vti_extenderversion:SR|5.0.2.2623
vti_thicketsupportingfile:BW|true
vti_author:SR|SERVER\\Administrator
vti_modifiedby:SR|SERVER\\Administrator
vti_timecreated:TR|19 Jun 2005 04:55:54 -0000
vti_cacheddtm:TX|19 Jun 2005 04:55:54 -0000
vti_filesize:IR|11884
vti_lineageid:SR|{9A7BE5AA-4311-4FF1-8F0B-1A16E582280E}
vti_backlinkinfo:VX|results/2005/event2/index.htm results/2005/event2/index_files/sheet002.htm results/2005/event2/index_files/sheet003.htm results/2005/event2/index_files/sheet001.htm
