vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|11 Sep 2005 19:07:24 -0000
vti_extenderversion:SR|5.0.2.2623
vti_thicketsupportingfile:BW|true
vti_author:SR|SERVER\\Administrator
vti_modifiedby:SR|SERVER\\Administrator
vti_timecreated:TR|11 Sep 2005 19:07:24 -0000
vti_cacheddtm:TX|11 Sep 2005 19:07:24 -0000
vti_filesize:IR|12320
vti_lineageid:SR|{80B93D61-773C-4CF2-AC76-4CF3FCFE4C70}
vti_backlinkinfo:VX|results/2005/event9/index.htm results/2005/event9/index_files/sheet002.htm results/2005/event9/index_files/sheet003.htm results/2005/event9/index_files/sheet001.htm
