html, body {
	font-size: 1.0em; 
	font-family: 'Exo 2', sans-serif;
	background: #ffffff;
	}

#title {
	height: 100px; 
	width: 600px;
	}
	#title h1 {
		font-size: 2.4em;
		font-weight: 700;
		margin: 7px 0 0 10px;
		text-align: left;
		text-indent: 0px; 
		}
	#title h2 {
		font-size: 1.5em;
		font-weight: 700;
		margin: -8px 0 0 10px;
		text-align: left;
		text-indent: 290px; 
		}

#navi1 {
	height: 35px; 
	width: 600px;
	}
	#navi1 a {
		width: 100px;
		}

#navi2 {
	display: none;
	}

#buttons {
	height: 20px;
	width: 600px;
	}
	#buttons a {
		width: 300px;
		}

#content {
	width: 600px;
	}
	#content h1 {
		font-size: 2.2em;
		font-weight: 700;
		}
	#content h2 {
		font-size: 1.0em;
		font-weight: 400;
		line-height: 1.4em;
		}
	#content h3 {
		font-size: 2.0em;
		font-weight: 700;
		}
	#content h4 {
		font-size: 1.0em;
		font-weight: 700;
		text-align: left;
		}
	#content h5 {
		font-size: 1.0em;
		font-weight: 400;
		text-align: left;
		}
	#content h6 {
		font-size: 1.0em;
		font-weight: 400;
		text-align: left;
		text-indent: 15px;
		line-height: 0px;
		}
	#content h7 {
		font-size: 1.0em;
		font-weight: 700;
		color: #CC0000;
		}

#footer {
	width: 600px;
	}

table#schedule2 {
	display: none;
	}

#resultsbutton {
	margin: auto;
	list-style: none;
	height: 20px;
	width: 600px;
	}
	#resultsbutton li {
		float: left;
		padding: 5px 0 5px 0;
		}
	#resultsbutton a {
		display: block;
		width: 300px;
		line-height: 21px;
		height: 23px;
		text-align: center;
		font-size: 1.0em;
		font-weight: 400;
		text-decoration: none;
		color: #CC0000;
		background-color: rgba(102,102,102,0.2);
		border: none;
		}
	#resultsbutton a:hover {
		font-weight: 700;
		}
