vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|14 Aug 2005 04:28:53 -0000
vti_extenderversion:SR|5.0.2.2623
vti_thicketsupportingfile:BW|true
vti_author:SR|SERVER\\Administrator
vti_modifiedby:SR|SERVER\\Administrator
vti_timecreated:TR|14 Aug 2005 04:28:53 -0000
vti_cacheddtm:TX|14 Aug 2005 04:28:53 -0000
vti_filesize:IR|11537
vti_lineageid:SR|{AA36F23A-EC16-4970-9345-54996F0E8B59}
vti_backlinkinfo:VX|results/2005/event3/index_files/sheet001.htm results/2005/event3/index_files/sheet002.htm results/2005/event3/index.htm results/2005/event3/index_files/sheet003.htm
